<!doctype html>
{% load static %}
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <title>The Bored Gamer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

  </head>

  <body>
    <header>
      <h1>The Bored Gamer</h1>
      <h2>Derek Jensen</h2>
      <h2>WDD 130-02</h2>
      
                  <nav>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="BoardGameFinder.html">Find Your Boardgame!</a></li>
          <li><a href="GroupFinder.html">Find Your Group!</a></li>
        </ul>
      </nav>
      <!-- In the header above, add your name and class number. For example if you are in section 3 you would put WDD 130.03 -->
    </header>
    <main>

      <!-- ------------------------Steps 2-3------------------------------ -->
      <h2></h2>
      <hr>
      <h3>Find your Group!</h3>
      <img src="https://cdn.glitch.com/e8b94647-66b5-4d47-9d8c-e6b7486d65e3%2F9f332f783aa393fd402e457b761bad0b_original.webp?v=1614472436868">
      <p>
        Whether you play in board game cafe’s or on a ping-pong table in someone’s den, your group of boardgamers is critical. 
        However, not everyone is looking for the same things in their board game group. Some people look for cutthroat 
        competition, and others for casual camaraderie. Be sure to fill out your board gamer profile so people know what 
        you are looking for in your gaming, and don’t forget to look at other’s profile too!
      </p>
      <section>
        <form action="/my-handling-form-page" method="post">
 <ul class="forms">
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
     <li>
    <label for="zipcode">Zip Code:</label>
    <input type="zipcode" id="zipcode" name="user_zipcode">
  </li>
   
   <button class="submit">
     Sumbit
     </button>
   

  
 </ul>
</form>
        <img class="right" src="https://cdn.glitch.com/e8b94647-66b5-4d47-9d8c-e6b7486d65e3%2Fboard-game-933165__480.jpg?v=1614474143938">
      
      </section>
      
      <section class="fillout">
        
        <h3 class="profile">
          Profile
        </h3>
      <p>
        
        When filling out your profile, here’s what you need: Your name, your zip code, your favorite board games, your preferred style of play (competitive or casual), and anything else you want to put in there. Let people know if you are willing to host games, and if you are down for online play.
        </p>

      <img class="left" src="https://cdn.glitch.com/e8b94647-66b5-4d47-9d8c-e6b7486d65e3%2Fdice-2351448__480.jpg?v=1614474133302">
                <button class="clickhere">
          
          Click here to get started!
        </button>
      </section>

      
      
      
    </main>
        <footer>
            <section class="first">
        <div>
        <h3>
          Contact Us
        </h3>
        <ul>
          <li>
            555-555-5555
          </li>
          <li>
            <a href="mailto:admin@oursite.com">admin@oursite.com</a>
          </li>
        </ul>
        </div>
        <div>
          
      
        <h3>
          Legal info
        </h3>
        <p class="copy">
          Copyright &copy; oursite.com 2021.<br />Legal info the lawyer
          requires.
        </p>
        </div>
      </section>
      <section class="second">
      <p>
        &copy; 20XX The Bored Gamer - Derek Jensen - Section 02
      </p>
        <a href="https://www.facebook.com/">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FfacebookiconforWD.png?v=1612047185585"
            alt="Facebook icon"
          />
        </a>
        <a href="https://myaccount.google.com/profile">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FgoogleplusiconWD.png?v=1612047244262"
            alt="Google+ icon"
          />
        </a>
        <a href="https://www.youtube.com/">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FyoutubeiconWD.png?v=1612047314406"
            alt="Youtube icon"
          />
        </a>
      </section>
      <section>
      <li><a href="siteplan.html">See the site plan</a></li>
      </section>
    
    
    </footer>
  </body>

</html>