<!doctype html>
{% load static %}
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <title>The Bored Gamer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

  </head>

  <body>
    <header>
      <h1>The Bored Gamer</h1>
      <h2>Derek Jensen</h2>
      <h2>WDD 130-02</h2>
            <nav>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="GroupFinder.html">Find Your Group!</a></li>
          <li><a href="BoardGameFinder.html">Find Your Boardgame!</a></li>
        </ul>
      </nav>
      <!-- In the header above, add your name and class number. For example if you are in section 3 you would put WDD 130.03 -->
    </header>
    <main>

      <!-- ------------------------Steps 2-3------------------------------ -->
      <h2></h2>
      <hr>
      <section class="intro">
      <h3>Welcome to the Bored Gamer!</h3>
      <p>The Bored Gamer is the perfect website for anyone looking to play some of their favorite board games. 
        Have you ever found the coolest board game ever, but then not had anyone to play it with? Just like you, 
        thousands of other board gamers face the same problem, and some of them likely live in your hometown. This 
        website helps connect these board gamers together. Find people who live close to you, and if that doesn’t work, 
        join our extensive online community to play online.  </p>
      <img class="dice" src="https://cdn.glitch.com/e8b94647-66b5-4d47-9d8c-e6b7486d65e3%2Fcube-1963036__480.webp?v=1614474092373">
</section>

      <section class="homedouble">
        <div>
          
        
      <h3>Finding your Board Game</h3>
      <p>The first step is to find your board game. Here on this site, we have dozens of our favorite board games 
        to introduce you to, along with reviews made by fans of the game. Find your next favorite game and a 
        community to play it with, all on our helpful <a href="BoardGameFinder.html">Favorite Games</a> page.</p>  <!-- change this -->
</div>
        <div>
          
     

      <h3>
        Finding Your Group
      </h3>
      <p>
        After finding your game, find a group to play it with. Visit our <a href="GroupFinder.html">Group Finder</a> page and put in your zip code
        to find all of the bored gamers around you. Our networks are always growing! Be sure to fill out a 
        Bored Gamer Profile so people know if you like to play competitively or casual. Fill out your profile 
        with your favorite genres and games.
      </p>
          </div>
  </section>
      
      <section class="GameOfTheWeek">
      <h3>
        Board Game of the Week
        </h3>
        <img clas="TI" src="https://cdn.glitch.com/e8b94647-66b5-4d47-9d8c-e6b7486d65e3%2Fdownload.jpg?v=1614471820200">
        <p>
          Twilight Imperium (Fourth Edition) is a game of galactic conquest in which three to six players take 
          on the role of one of seventeen factions vying for galactic domination through military might, 
          political maneuvering, and economic bargaining. Every faction offers a completely different play experience, 
          from the wormhole-hopping Ghosts of Creuss to the Emirates of Hacan, masters of trade and economics. 
          These seventeen races are offered many paths to victory, but only one may sit upon the throne of Mecatol Rex 
          as the new masters of the galaxy.
        </p>
      </section>
        <section>
          
          <p>


        </p>
          
               
          
          
                </section>
    </main>
    <footer>
            <section class="first">
        <div>
        <h3>
          Contact Us
        </h3>
        <ul>
          <li>
            555-555-5555
          </li>
          <li>
            <a href="mailto:admin@oursite.com">admin@oursite.com</a>
          </li>
        </ul>
        </div>
        <div>
          
      
        <h3>
          Legal info
        </h3>
        <p class="copy">
          Copyright &copy; oursite.com 2021.<br />Legal info the lawyer
          requires.
        </p>
        </div>
      </section>
      <section class="second">
      <p>
        &copy; 20XX The Bored Gamer - Derek Jensen - Section 02
      </p>
        <a href="https://www.facebook.com/">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FfacebookiconforWD.png?v=1612047185585"
            alt="Facebook icon"
          />
        </a>
        <a href="https://myaccount.google.com/profile">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FgoogleplusiconWD.png?v=1612047244262"
            alt="Google+ icon"
          />
        </a>
        <a href="https://www.youtube.com/">
          <img
            src="https://cdn.glitch.com/e22e5c9d-764c-44f4-b20b-d96cf3cadfc1%2FyoutubeiconWD.png?v=1612047314406"
            alt="Youtube icon"
          />
        </a>
      </section>
      <section>
      <li><a href="siteplan.html">See the site plan</a></li>
      </section>
    
    
    </footer>
  </body>
  

</html>